.ms-left .ms-section{
    background-color: yellow;
}
.ms-left .ms-section:nth-child(odd){
    background-color: chartreuse;
}
#multiscroll{
    color: red;
    text-align: center;
}

.coffee{
    background: darkred url("../img/coffee.png") no-repeat right 70%;
    background-size: 100%;
}
.moon{
    background: url("../img/moon.jpg") no-repeat right;
    background-size: 100%;
}
.tiger{
    background: url("../img/tiger.jpg") no-repeat right;
    background-size: 100%;
}
.ms-right{
    right: -1px !important;
    width: 51% !important;
}